<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ZuruStoreDemo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8abd">  <td>19/06/18 16:13:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChooseProjectTest.ChooseProjectForUpload()[pri:1, instance:com.zuru.qa.testcase.ChooseProjectTest@402a079c]">ChooseProjectForUpload</td> 
  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>19/06/18 16:12:50</td>   <td>-61453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.LoginPageTitleTest()[pri:0, instance:com.zuru.qa.testcase.LoginPageTest@42dafa95]">LoginPageTitleTest</td> 
  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>19/06/18 16:13:04</td>   <td>-48205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.PageTitleTest()[pri:1, instance:com.zuru.qa.testcase.HomePageTest@6500df86]">PageTitleTest</td> 
  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>19/06/18 16:12:39</td>   <td>-73018</td> <td title="&gt;&gt;LoginPageTest.SetUp()[pri:0, instance:com.zuru.qa.testcase.LoginPageTest@42dafa95]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>19/06/18 16:12:50</td>   <td>-61439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:0, instance:com.zuru.qa.testcase.LoginPageTest@42dafa95]">loginTest</td> 
  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>19/06/18 16:12:52</td>   <td>-60279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.zuru.qa.testcase.HomePageTest@6500df86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>19/06/18 16:13:19</td>   <td>-32837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChooseProjectTest.setUp()[pri:0, instance:com.zuru.qa.testcase.ChooseProjectTest@402a079c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>19/06/18 16:13:18</td>   <td>-33462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.zuru.qa.testcase.HomePageTest@6500df86]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>19/06/18 16:13:52</td>   <td>348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChooseProjectTest.tearDown()[pri:0, instance:com.zuru.qa.testcase.ChooseProjectTest@402a079c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>19/06/18 16:13:53</td>   <td>1038</td> <td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.zuru.qa.testcase.LoginPageTest@42dafa95]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1589683045</td>   <td></td> </tr>
</table>
