<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a98982">  <td>19/06/20 13:42:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChooseProjectTest.setUp()[pri:0, instance:com.zuru.qa.testcase.ChooseProjectTest@58ceff1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@391447681</td>   <td></td> </tr>
<tr bgcolor="a98982">  <td>19/06/20 13:42:58</td>   <td>16333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChooseProjectTest.ChooseProjectForUpload()[pri:0, instance:com.zuru.qa.testcase.ChooseProjectTest@58ceff1]">ChooseProjectForUpload</td> 
  <td>main@391447681</td>   <td></td> </tr>
</table>
