<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b6d63">  <td>19/06/20 14:24:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.BestProjectListTest()[pri:0, instance:com.zuru.qa.testcase.HomePageTest@4411d970]">BestProjectListTest</td> 
  <td>main@66233253</td>   <td></td> </tr>
<tr bgcolor="bf8bb7">  <td>19/06/20 14:25:06</td>   <td>8670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChooseProjectTest.ChooseProjectForUpload()[pri:0, instance:com.zuru.qa.testcase.ChooseProjectTest@6442b0a6]">ChooseProjectForUpload</td> 
  <td>main@66233253</td>   <td></td> </tr>
<tr bgcolor="63be87">  <td>19/06/20 14:25:20</td>   <td>22436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProjectDetailTest.EditProjectDetailPageTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.zuru.qa.testcase.EditProjectDetailTest@60f82f98]">EditProjectDetailPageTest</td> 
  <td>main@66233253</td>   <td></td> </tr>
<tr bgcolor="82ba7e">  <td>19/06/20 14:24:22</td>   <td>-35716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.LoginPageTitleTest()[pri:0, instance:com.zuru.qa.testcase.LoginPageTest@67b64c45]">LoginPageTitleTest</td> 
  <td>main@66233253</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>19/06/20 14:24:57</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.PageTitleTest()[pri:0, instance:com.zuru.qa.testcase.HomePageTest@4411d970]">PageTitleTest</td> 
  <td>main@66233253</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>19/06/20 14:24:57</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.ProjLikeTest()[pri:0, instance:com.zuru.qa.testcase.HomePageTest@4411d970]">ProjLikeTest</td> 
  <td>main@66233253</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>19/06/20 14:24:57</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.ProjectSearchTest()[pri:0, instance:com.zuru.qa.testcase.HomePageTest@4411d970]">ProjectSearchTest</td> 
  <td>main@66233253</td>   <td></td> </tr>
<tr bgcolor="82ba7e">  <td>19/06/20 14:24:06</td>   <td>-51166</td> <td title="&gt;&gt;LoginPageTest.SetUp()[pri:0, instance:com.zuru.qa.testcase.LoginPageTest@67b64c45]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@66233253</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>19/06/20 14:24:57</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.UploadBtnTest()[pri:0, instance:com.zuru.qa.testcase.HomePageTest@4411d970]">UploadBtnTest</td> 
  <td>main@66233253</td>   <td></td> </tr>
<tr bgcolor="82ba7e">  <td>19/06/20 14:24:22</td>   <td>-35702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:0, instance:com.zuru.qa.testcase.LoginPageTest@67b64c45]">loginTest</td> 
  <td>main@66233253</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>19/06/20 14:24:32</td>   <td>-25216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.zuru.qa.testcase.HomePageTest@4411d970]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@66233253</td>   <td></td> </tr>
<tr bgcolor="bf8bb7">  <td>19/06/20 14:24:57</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChooseProjectTest.setUp()[pri:0, instance:com.zuru.qa.testcase.ChooseProjectTest@6442b0a6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@66233253</td>   <td></td> </tr>
<tr bgcolor="63be87">  <td>19/06/20 14:25:07</td>   <td>9170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EditProjectDetailTest.setUp()[pri:0, instance:com.zuru.qa.testcase.EditProjectDetailTest@60f82f98]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@66233253</td>   <td></td> </tr>
<tr bgcolor="82ba7e">  <td>19/06/20 14:25:20</td>   <td>22531</td> <td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.zuru.qa.testcase.LoginPageTest@67b64c45]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@66233253</td>   <td></td> </tr>
</table>
